.tweet {
  font-weight: 300;
  margin: 1em;
  padding: 1em;
  border: 3px solid $color-primary-dark;
  &:hover {
    font-weight: 400;
    box-shadow: 10px 10px 10px 0px $color-primary-opasity;
  }
  &:hover .tweet__header_email {
    visibility: visible;
  }
  &:hover .tweet__footer_icons {
    visibility: visible;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    &__author{
      display: flex;
      &-name{
        font-size: 1em;
        height: 70px;
        line-height: 70px;
        text-align: center;
        margin: 0 1em;
      }
    }
    &_email {
      visibility: hidden;
      color: $color-primary-light;
      font-size: 1em;
      height: 70px;
      line-height: 70px;
      text-align: center;
      margin: 0 1em;
    }
  }
  &__text {
    word-wrap: break-word;
    width: 100%;
    padding: 1.5em;
    background-color: inherit;
    border-bottom: 3px solid $color-primary-dark;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    &_icons {
      visibility: hidden;
      font-size:0.8em;
      color: $color-primary;
      & i {
        margin: 0 0.5em;
      }
    }
  }
}